*{
    margin:0;
    padding: 0;
}

.container{
    width: 70vw;
    margin-top: 100px;
    margin-left: 100px; 
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    font-weight: lighter;
}